:root {
  --color-blue-primary: #389ddf;
  --color-blue-secondary: #0070ba;
  --color-tomato-primary: #f34526;
  --color-tomato-secondary: #d52e10;
  --color-black: #201f20;
  --color-white: #ffffff;
  --color-alabaster: #f8f9fa;
  --color-silver: #c6c6c5;

  --control-border-radius: 5px;
  --small-border: 2px solid var(--color-blue-primary);
  --big-border: 4px solid var(--color-blue-primary);

  --small-font-size: 14px;
  --medium-font-size: 16px;
  --big-font-size: 18px;
  --large-font-size: 22px;
  --logo-font-size: 32px;

  --small-padding-y: 5px;
  --medium-padding-y: 10px;
  --big-padding-y: 15px;
  --large-padding-y: 20px;
  --small-padding-x: 5px;
  --medium-padding-x: 10px;
  --big-padding-x: 15px;
  --large-padding-x: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-black);
  background-image:
    linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 40%)), url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; /* Убирает фон при нажатии на телефоне */
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}
